.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 18px 20px;
  background-color: #fff;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}

.header-logo-icon {
  width: 20px;
  height: 20px;
  fill: #fd9222;
}

.header-logo-accent {
  font-style: italic;
}

.header .nav {
  display: none;
}

.header .social {
  display: none;
}

.mobile-menu-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 5000ms ease-out;
  transition-property: color;
}

.mobile-menu-icon:hover,
.mobile-menu-icon:focus {
  color: #fd9222;
}
