<div class="mobile-menu">
  <div class="mobile-menu-container">
    <button class="mobile-menu-btn-close" aria-label="Close menu">
      <svg class="" width="24" height="24">
        <use href="/icons/icons.svg#close"></use>
      </svg>
    </button>

    <ul class="mobile-menu-list">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#">Home</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#process">How it's made?</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#reviews">Chocolate is loved</a>
      </li>
    </ul>

    <ul class="social">
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.facebook.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          <svg
            class="mob-social-icon"
            width="24"
            height="24"
            aria-hidden="true"
          >
            <use href="/icons/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>

      <li class="social-item">
        <a
          class="social-link"
          href="https://www.instagram.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
        >
          <svg
            class="mob-social-icon"
            width="24"
            height="24"
            aria-hidden="true"
          >
            <use href="/icons/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>

      <li class="social-item">
        <a
          class="social-link"
          href="https://x.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Twitter"
        >
          <svg
            class="mob-social-icon"
            width="24"
            height="24"
            aria-hidden="true"
          >
            <use href="/icons/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
